body {
	background-color: lightgrey;
	padding: 80px;
}

header {
	padding: 50px;
	display: flex;
	flex-direction: row;
  justify-content: space-around; /* This will space your items evenly */
  align-items: center; /* This will vertically center your items if needed */
  flex-wrap: wrap; /* This will allow items to wrap into the next line on small screens */
}

/* put a newline after each select */
select {
	display: block;
	margin-bottom: 10px;
	margin-left: 10px;
}
